@import "~normalize.css"

.AuthFormWrapper
    display: flex
    height: 100vh
    justify-content: center
    align-items: center
    .AuthForm
        padding: 5%
        width: 300px
        & > *:nth-child(n+2)
            margin-top: 10px
        .WithoutAuth
            display: block


